@import '../variable/var';

.background-default{
    background: $background-default;
}

.background-primary{
    background: $background-primary ;
}

.background-secondary{
    background: $background-secondary;
}

.background-third{
    background: $background-third;
}

.background-map{
    background: $background-map;
}