#title-main-banner{
    font-weight: 300;
    font-size: 60px;
}

.title-card-transparent{
    font-size: 15px;
    color: #3F4244;
    font-weight: 500;
    line-height: 1.2;
}

.title-card-primary{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #3F4244; 
}

.title-card-secondary{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #3F4244;
}

.title-default {
    font-weight: normal;
    font-size: 40px;
}

.title-secondary{
    font-size: 25px;
}

.text-extra-small{
    font-size: 13px;
    line-height: 15px;
}

.text-small {
    font-size: 15px;
}

.text-medium{
    font-size: 20px;
    font-weight: 500
}