//backgound
$background-default: #ffffff;
$background-primary:  linear-gradient(180deg, #6DFFC6 0%, rgba(63, 210, 206, 0.99) 61.36%);
$background-secondary: linear-gradient(180deg, #FF6C54 0%, #FF2B59 100%);
$background-third: #233537;
$background-map: #232E3D;



